/* ==============================
    Fonts supplementaires
   ============================== */

@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/DroidSans.woff') format('woff');
}

@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/DroidSans-Bold.woff') format('woff');
}

/* ==============================
    FIN : Fonts supplementaires
   ============================== */

/* ==============================
    General
   ============================== */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	font: normal 100% 'Droid Sans', Arial, sans-serif;
	background-color: #fff;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: none;
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button, input {
	font: inherit;
}

/* ==============================
    FIN : General
   ============================== */

/* ==============================
    Scrollbar gauche pour WebKit
   ============================== */

#aside-left::-webkit-scrollbar {
	width: 8px;
	background: #fff;
}

#aside-left::-webkit-scrollbar-thumb {
	background: #ccc;
}

#aside-left::-webkit-scrollbar-thumb:hover {
	background: #999;
}

#aside-left::-webkit-scrollbar-track-piece:vertical {
	border: 1px dashed #ccc;
}

/* ==============================
    FIN : Scrollbar gauche pour WebKit
   ============================== */

/* ==============================
    Blocs principaux
   ============================== */

@media screen and (min-width:769px) {
	#aside-left {
		float: left;
		height: 100%;
		width: 275px; /* A recalculer */
		overflow-y: auto;
	}

	#aside-right {
		height: 100%;
		margin-left: 276px; /* A recalculer */
		overflow-y: auto;
	}

	#aside-left form.connexion,
	#aside-left a.menu-deco {
		display: none;
	}
}

@media screen and (max-width:769px) {
	#aside-left {
		min-width: 380px; /* A recalculer */
	}

	#nav-right,
	#aside-right a.menu-deco {
		display: none;
	}
}

#nav-left,
#nav-right {
	height: 50px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d9d9d9;
}

#nav-left	{ border-right: 1px solid #d9d9d9; margin-bottom: 3px;}
#nav-right	{ border-left: 1px solid #d9d9d9; margin-bottom: 3px; }

/* ==============================
    FIN : Blocs principaux
   ============================== */

/* ==============================
    Navigation haut
   ============================== */

a.menu-about,
a.menu-config,
a.menu-deco,
a.menu-fav,
a.menu-home,
a.menu-update {
	display:inline-block;
	width:50px;
	height:50px;
	text-decoration:none;
	background-image:url('../img/menu.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:50px;
}

a.menu-about:hover,
a.menu-about:active,
a.menu-config:hover,
a.menu-config:active,
a.menu-deco:hover,
a.menu-deco:active,
a.menu-fav:hover,
a.menu-fav:active,
a.menu-home:hover,
a.menu-home:active,
a.menu-update:hover,
a.menu-update:active {
	background-color:#d9d9d9;
}

a.menu-about {background-position:0 -0px;}
a.menu-config {background-position:0 -50px;}
a.menu-deco {background-position:0 -100px; float:right;}
a.menu-update {background-position:0 -150px; cursor:pointer;}
a.menu-home {background-position:0 -200px;}
a.menu-fav {background-position:0 -250px;}

form.connexion {
	float:right;
	margin:13px 3px 0 0;
}

input.login,
input.password {
	border:1px solid #d9d9d9;
	background-color:#fff;
	font-size:.75em;
	color:#000;
	width:80px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

input.login:hover,
input.login:active,
input.password:hover,
input.password:active {
	border:1px solid #bfbfbf;
}

#current {
	margin:3px 3px 6px 3px;
	padding:6px;
	border:1px solid #333; /* d95341 */
	background-color:#d96657; /* d96657 */
	font-size:.75em;
	font-weight:700;
	text-align:center;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	box-shadow: 0 3px 8px #333;
}

#current > a {
	text-decoration:none;
	color:#000;
}

#current > a:hover,
#current > a:active {
	color:#fff;
}

/* ==============================
    FIN : Navigation haut
   ============================== */

/* ==============================
    Les boutons
   ============================== */

.button-artfav-is,
.button-artfav-isnot,
.button-artunread-is,
.button-artunread-isnot {
	display:block;
	width:25px;
	height:25px;
	float:left;
	cursor:pointer;
	text-decoration:none;
	background-image:url('../img/favread.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:25px;
	margin:-3px 3px 0 0;
}

.button-artfav-is	{ background-position:0 -0px; }
.button-artfav-isnot	{ background-position:0 -25px; }
.button-artunread-is		{ background-position:0 -50px; }
.button-artunread-isnot	{ background-position:0 -75px; }

.button-connexion,
.button-readall,
.button-togglefolder,
.button-readfolder,
.button-readfeed,
.button-page-out,
.button-page-in {
	border:1px solid #333;
	font-weight:700;
	text-align:center;
	color:#fff;
	cursor:pointer;
	text-decoration:none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.button-connexion:hover,
.button-connexion:active,
.button-readall:hover,
.button-readall:active,
.button-togglefolder:hover,
.button-togglefolder:active,
.button-readfolder:hover,
.button-readfolder:active,
.button-readfeed:hover,
.button-readfeed:active,
.button-page-in:hover,
.button-page-in:active {
	border:1px solid #333;
	background-color:#d94a37;
}

.button-connexion {
	background-color:#498af2;
	font-size:.75em;
	display:block-inline;
	padding:3px;
}

.button-readall {
	background-color:#498af2;
	font-size:.75em;
	display:block;
	margin:6px 3px 0 3px;
	padding:6px;
	box-shadow: 0 3px 8px #333;
}

.button-togglefolder {
	background-color:#498af2;
	font-size:2em;
	display:block;
	float:left;
	width:23px;
	height:23px;
	line-height:23px;
	margin-top:-3px;
}

.button-readfolder,
.button-readfeed {
	background-color:#498af2;
	font-size:.8125em;
	display:block;
	float:right;
	min-width:23px;
	height:23px;
	line-height:23px;
	margin-top:-3px;
	padding:0 3px;
}

.button-page-out {
	background-color:#d96657;
	font-size:.8125em;
	padding:5px 9px;
	cursor:default;
	box-shadow: 1px 1px 4px #333;
}

.button-page-in {
	background-color:#498af2;
	font-size:.8125em;
	padding:5px 9px;
	box-shadow: 1px 1px 4px #333;
}

.button-page-in:hover {
	background-color:#d96657;
}

/* ==============================
    FIN : Les boutons
   ============================== */

/* ==============================
    Dossiers et feeds de gauche
   ============================== */

.nav-feeds {
	margin:6px 3px;
}

.nav-feeds ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-feeds a.nameleft-folder,
.nav-feeds a.nameleft-feed {
	font-size: .75em;
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

.nav-feeds a.nameleft-folder {
	margin-left: 7px;
}

.nav-feeds a.nameleft-feed {
	margin-left: 32px;
}

.nav-feeds a.nameleft-folder:hover,
.nav-feeds a.nameleft-folder:active,
.nav-feeds a.nameleft-feed:hover,
.nav-feeds a.nameleft-feed:active {
	color: #ff0000;
}

.nav-feeds .nav-folder,
.nav-feeds .nav-feed {
	padding-top: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.nav-feeds .nav-feed {
	margin-top: 6px;
}

.nav-feeds .nav-folder:hover,
.nav-feeds .nav-feed:hover {
	background-color: #d9d9d9;
}

/* ==============================
    FIN : Dossiers et feeds de gauche
   ============================== */

/* ==============================
    Articles à droite
   ============================== */

.nav-infos {
	margin: 0 3px;
}

.nav-infos .article-info-top,
.nav-infos .article-info-bottom {
	padding-top:3px;
	margin-top:6px;
	text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	border-bottom:1px dotted #d9d9d9;
}

.nav-infos .article-content {
	font-size:.8125em;
	text-align:justify;
	margin:6px 0;
}

.nav-infos a.title-article {
	text-decoration: none;
	color: #000;
}

.nav-infos a.title-article:hover,
a.nameright-feed:hover {
	color: #ff0000;
}

.nav-infos .article-content a {
	color:#cc0000;
	text-decoration:none;
}

.nav-infos .article-content a:hover,
.nav-infos .article-content a:active {
	color:#000;
}

.article-info-top-isselected,
.nav-infos .article-info-top:hover {
	background-color:#d9d9d9;
}

a.title-article {
	font-size:.75em;
	font-weight:700;
}

a.nameright-feed,
span.article-author,
span.article-date {
	font-size:.6875em;
	color:#666;
}

p.pied {margin:0; padding: 9px 3px;}

/* ==============================
    FIN : Articles à droite
   ============================== */

/* ==============================
    La page de configuration
   ============================== */

#preferences,
#plugins,
#import,
#export,
#bookmarklet {
	display:none;
}

#about a,
.pfiou a {
	color:#cc0000;
	text-decoration:none;
}

#about a:hover,
#about a:active,
.pfiou a:hover,
.pfiou a:active {
	color: #000;
}

.nav-settings ul,
#gestion ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-settings ul > li.nav-setting {
	padding:3px 0;
	cursor:pointer;
}

.nav-settings ul > li.nav-setting:hover {
	background-color:#d9d9d9;
}

#about legend,
#gestion legend,
#preferences legend,
#plugins legend {
	font-weight: 700;
	padding: 0 3px;
}

#about fieldset,
#gestion fieldset,
#preferences fieldset,
#plugins fieldset {
	font-size: .75em;
	margin: 0 0 6px 0;
	padding: 6px;
	border: 1px solid #d9d9d9;
}

#gestion h3,
#preferences h3 {
	font-weight: 400;
	font-size: .875em;
	margin: .75em 0;
	color: #666;
}

#gestion li			{ padding: 3px 0; }
#gestion li:hover	{ background-color:#d9d9d9; }

#plugins p,
#bookmarklet p {
	font-size: .75em;
	margin: .75em 0;
}

/* ==============================
    FIN : La page de configuration
   ============================== */