{include="header"}








<aside id="aside-left">
	<nav id="nav-left">
		<a class="menu-about" href="about.php"></a>
		<a class="menu-home" href="index.php"></a>
		<a class="menu-fav" href="index.php?action=favorites"></a>
		{if="!$myUser"}
			<form class="connexion" action="action.php?action=login" method="POST">
				<input class="login" type="text" name="login" placeholder="Identifiant" />
				<input class="password" type="password" name="password" placeholder="Password" />
				<button class="button-connexion">GO!</button>
			</form>
		{else}
			<a class="menu-config" href="settings.php"></a>
			<a class="menu-update" onclick="synchronize('{$synchronisationCode}');"></a>
			<a class="menu-deco" href="action.php?action=logout"></a>
		{/if}
		{function="Plugin::callHook("navigate_post_link", array(&$myUser))"}
	</nav>

	<section id="current">
		A propos
	</section>
</aside>

<aside id="aside-right">
	<nav id="nav-right">
		{if="!$myUser"}
			<form class="connexion" action="action.php?action=login" method="POST">
				<input class="login" type="text" name="login" placeholder="Identifiant" />
				<input class="password" type="password" name="password" placeholder="Password" />
				<button class="button-connexion">GO!</button>
			</form>
		{else}
			<a class="menu-deco" href="action.php?action=logout"></a>
		{/if}
	</nav>

	<nav class="nav-infos">
		<section id="about">
			<fieldset>
				<legend>Auteur de Leed</legend>
				<p>Nom : Valentin CARRUESCO aka Idleman
				<br />Mail : idleman@idleman.fr
				<br />Blog : <a target="_blank" href="http://blog.idleman.fr">blog.idleman.fr</a></p>
			</fieldset>

			<fieldset>
				<legend>Auteur du thème</legend>
				<p>Nom : Tetsumaki
				<br />Mail : <a target="_blank" href="http://goo.gl/YMBdA">http://goo.gl/YMBdA</a></p>
			</fieldset>

			<fieldset>
				<legend>A propos du thème</legend>
				<p>Nom : Tornede
				<br />Téléchargement : <a target="_blank" href="https://github.com/Tetsumaki/tornede">https://github.com/Tetsumaki/tornede</a>
				<br />Un bug à signaler :  <a target="_blank" href="https://github.com/Tetsumaki/tornede/issues">https://github.com/Tetsumaki/tornede/issues</a></p>
			</fieldset>

			<fieldset>
				<legend>Présentation</legend>
				<p><strong>Leed (contraction de Light Feed)</strong> est un agrégateur RSS libre et minimaliste qui permet la consultation de flux RSS de manière rapide et non intrusive.
				<br />Toutes les tâches de traitement de flux sont effectuées de manière invisible par une tâche synchronisée (Cron), ainsi, l'utilisateur ne subit pas les lenteurs dues à la récupération et au traitement de chacun des flux suivis.
				<br />A noter que Leed est compatible toutes résolutions, sur pc, tablettes et smartphone et fonctionne sous tous les navigateurs.
				<br />Le script est également compatible avec les fichiers d'exports/imports OPML ce qui rend la migration de tous les agrégateurs réspectant le standard OPML simple et rapide.</p>
			</fieldset>

			<fieldset>
				<legend>Installation</legend>
				<ol>
					<li>Récuperez le projet sur le <a target="_blank" href="https://github.com/ldleman/Leed.git">dépot GIT</a> de la version courante.</li>
					<li>Placez le projet dans votre répertoire web et appliquez une permission chmod 777 sur le dossier et son contenu</li>
					<li>Depuis votre navigateur, accedez à la page d'installation install.php (ex : http://votre.domaine.fr/leed/install.php) et suivez le instructions.</li>
					<li>Une fois l'installation terminée, supprimez le fichier install.php par mesure de sécurité</li>
					<li>Mettez en place un cron (sudo crontab -e pour ouvrir le fichier de cron) et placez y un appel vers la page http://votre.domaine.fr/leed/action.php?action=synchronize ex :
					<br />0 * * * * wget --no-check-certificate -q -O /var/www/leed/logsCron http://127.0.0.1/leed/action.php?action=synchronize</li>
					<li>Le script est installé, merci d'avoir choisis Leed, l'agrégateur RSS libre et svelte :p.</li>
				</ol>
			</fieldset>

			<fieldset>
				<legend>Questions et suggestions</legend>
				<p>Pour toutes questions et remarques: Vérifiez dans un premier temps que la réponse ne se trouve pas dans la <a target="_blank" href="http://projet.idleman.fr/leed/?page=FAQ">FAQ</a> ou sur <a target="_blank" href="http://projet.idleman.fr/leed">le wiki du projet</a>, si ce n'est pas le cas, envoyez moi vos questions/suggestions/remarques sur idleman@idleman.fr</p>
			</fieldset>
		</section>
	</nav>
</aside>

{include="footer"}