<script src="js/libs/jquery.min.js"></script>
<script src="js/script.js"></script>
{if="$articleDisplayContent"}
	<script src="js/script-articledisplaycontent-1.js"></script>
{else}
	<script src="js/script-articledisplaycontent-0.js"></script>
{/if}
{function="Plugin::callJs()"}
</body>
</html>