{include="header"}
{if="($configurationManager->get('articleDisplayAnonymous')=='1') || ($myUser!=false)"}

<aside id="aside-left">
	<nav id="nav-left">
		<a class="menu-about" href="about.php"></a>
		<a class="menu-home" href="index.php"></a>
		<a class="menu-fav" href="index.php?action=favorites"></a>
		{if="!$myUser"}
			<form class="connexion" action="action.php?action=login" method="POST">
				<input class="login" type="text" name="login" placeholder="Identifiant" />
				<input class="password" type="password" name="password" placeholder="Password" />
				<button class="button-connexion">GO!</button>
			</form>
		{else}
			<a class="menu-config" href="settings.php"></a>
			<a class="menu-update" onclick="synchronize('{$synchronisationCode}');"></a>
			<a class="menu-deco" href="action.php?action=logout"></a>
		{/if}
		{function="Plugin::callHook("navigate_post_link", array(&$myUser))"}
	</nav>

	{function="Plugin::callHook("menu_pre_folder_menu", array(&$myUser))"}




	<section id="current">
		{if="$action=='selectedFeed'"}
			<!-- Affichage des evenements d'un flux -->
			<a target="_blank" href="{$currentFeed->getWebSite()}">{function="Functions::truncate($currentFeed->getName(),40)"}</a>
			<br />En premier : <a href="index.php?action=selectedFeed&amp;feed={$_['feed']}&amp;page={$page}&amp;order=unread">Non lu</a> : <a href="index.php?action=selectedFeed&amp;feed={$_['feed']}&amp;page={$page}&amp;order=older">Plus vieux</a>
		{/if}

		{if="$action=='selectedFolder'"}
		<!-- Affichage des evenements d'un dossier -->
			{$currentFolder->getName()}
		{/if}

		{if="$action=='favorites'"}
		<!-- Affichage des evenements d'un favoris -->
			{$numberOfItem} articles favoris
		{/if}

		{if="($action=='unreadEvents') || ($action=='')"}
		<!-- Affichage des evenements non lus -->
			{$numberOfItem} éléments non lus
		{/if}
	</section>
	<a class="button-readall" onclick="if(confirm('Marquer tous les flux comme lus ?'))window.location='action.php?action=readAll'">Tout marquer comme lu</a>

	{function="Plugin::callHook("menu_post_header_options", array(&$myUser))"}

	{loop="folders"}
		{$feeds=""}
		{if="isset($allFeedsPerFolder[$value->getId()])"}
			{$feeds=$allFeedsPerFolder[$value->getId()]}
		{/if}
		{if="isset($allEvents[$value->getId()])"}
			{$unreadEventsForFolder=$allEvents[$value->getId()]}
		{/if}
		<nav class="nav-feeds">
			<ul>
				<li class="nav-folder">
					<a class="button-togglefolder" onclick="toggleFolder(this,{$value->getId()});">{if="!$value->getIsopen()"}+{else}-{/if}</a>
					{if="$unreadEventsForFolder!=0"}
					<a class="button-readfolder" onclick="if(confirm('Marquer ce dossier comme lu ?'))window.location='action.php?action=readFolder&amp;folder={$value->getId()}';">{$unreadEventsForFolder}</a>
					{/if}
					{function="Plugin::callHook("menu_pre_folder_link", array(&$value))"}
					<a class="nameleft-folder" href="index.php?action=selectedFolder&amp;folder={$value->getId()}">{$value->getName()}</a>
					{function="Plugin::callHook("menu_post_folder_link", array(&$value))"}
				</li>
			</ul>
			{if="count($feeds)!=0"}
				<ul{if="!$value->getIsopen()"} style="display:none;"{/if}>
					{loop="feeds"}
						<li class="nav-feed">
							{if="isset($unread[$value2['id']])"} 
								<a class="button-readfeed" onclick="if(confirm('Marquer ce flux comme lu ?'))window.location='action.php?action=readAll&amp;feed={$value2['id']}';">{$unread[$value2['id']]}</a>
							{/if}
							{function="Plugin::callHook("menu_pre_feed_link", array(&$value))"}
							<a class="nameleft-feed" href="index.php?action=selectedFeed&amp;feed={$value2['id']}">{$value2['name']}</a>
							{function="Plugin::callHook("menu_post_feed_link", array(&$value))"}
						</li>
					{/loop}
				</ul>
			{/if}
		</nav>
	{$unreadEventsForFolder=0}
	{/loop}
	{function="Plugin::callHook("menu_post_folder_menu", array(&$myUser))"}
</aside>

<aside id="aside-right">
	<nav id="nav-right">
		{if="!$myUser"}
			<form class="connexion" action="action.php?action=login" method="POST">
				<input class="login" type="text" name="login" placeholder="Identifiant" />
				<input class="password" type="password" name="password" placeholder="Password" />
				<button class="button-connexion">GO!</button>
			</form>
		{else}
			<a class="menu-deco" href="action.php?action=logout"></a>
		{/if}
	</nav>

	

	{loop="$events"}
		{$plainDescription=strip_tags($value->getDescription())}
		<nav class="nav-infos">
			<a class="anchor" id="{$value->getId()}"></a>

			<section class="article-info-top">
				{if="$value->getFavorite()!=1"}
					<a class="button-artfav-isnot" onclick="addFavorite(this,{$value->getId()});"></a>
				{else}
					<a class="button-artfav-is" onclick="removeFavorite(this,{$value->getId()});"></a>
				{/if}
				{if="$value->getUnread()!=1"}
					<a class="button-artunread-is" onclick="addRead(this,{$value->getId()});"></a>
				{else}
					<a class="button-artunread-isnot" onclick="removeRead(this,{$value->getId()});"></a>
				{/if}
				<a class="title-article" target="_blank" href="{$value->getLink()}">{$value->getTitle()}</a>
				{if="$articleDisplayLink"}
					<a class="nameright-feed" target="_blank" href="{$value->getLink()}">{$allFeeds['idMap'][$value->getFeed()]['name']}</a>
				{/if}
				{if="!$value->getCreator()==''"}
					<span class="article-author">par {$value->getCreator()}</span>
				{/if}
				{if="$articleDisplayDate"} 
					<span class="article-date">{$value->getPubdateWithInstant($time)}</span>
				{/if}
			</section>

			{if="$articleDisplayContent"}
				<section class="article-content">
					{if="$articleView=='partial'"}
						{function="Plugin::callHook("event_pre_description", array(&$value))"}
						{$value->getDescription()}
						{function="Plugin::callHook("event_post_description", array(&$value))"}
					{else}
						{function="Plugin::callHook("event_pre_content", array(&$value))"}
						{$value->getContent()}
						{function="Plugin::callHook("event_post_content", array(&$value))"}
					{/if}
				</section>

				<section class="article-info-bottom">
					{function="Plugin::callHook("event_post_top_options", array(&$value))"}
					{if="$articleDisplayLink"}
						<a class="nameright-feed" target="_blank" href="{$value->getLink()}">{$allFeeds['idMap'][$value->getFeed()]['name']}</a>
					{/if}
					{if="!$value->getCreator()==''"}
						<span class="article-author">par {$value->getCreator()}</span>
					{/if}
					{if="$articleDisplayDate"} 
						<span class="article-date">{$value->getPubdateWithInstant($time)}</span>
					{/if}
				</section>
			{/if}
		</nav>
	{$hightlighted=$hightlighted+1}
	{/loop}

	{if="$pages!=0"}
		<p class="pied">
			<a class="button-page-out" href="#">{$page}/{$pages}</a>
			{if="$page!=1"}
				<a class="button-page-in" href="index.php?action={$action}{if="$action=='selectedFeed'"}&amp;feed={$currentFeed->getId()}{/if}{if="$action=='selectedFolder'"}&amp;folder={$currentFolder->getId()}{/if}&amp;page={$page-1}">&lt;</a>
			{else}
				<a class="button-page-out">&lt;</a>
			{/if}
			{if="$page!=$pages"}
				<a class="button-page-in" href="index.php?action={$action}{if="$action=='selectedFeed'"}&amp;feed={$currentFeed->getId()}{/if}{if="$action=='selectedFolder'"}&amp;folder={$currentFolder->getId()}{/if}&amp;page={$page+1}">&gt;</a>
			{else}
				<a class="button-page-out">&gt;</a>
			{/if}
			{loop="pagesArray"}
				{if="$value!=0"}
					{if="$page!=$value"}
						<a class="button-page-in" href="index.php?action={$action}{if="$action=='selectedFeed'"}&amp;feed={$currentFeed->getId()}{/if}{if="$action=='selectedFolder'"}&amp;folder={$currentFolder->getId()}{/if}&amp;page={$value}">{$value}</a> 
					{else}
						<a class="button-page-out">{$value}</a>
					{/if}
				{/if}
			{/loop}
		</p>
	{/if}
</aside>

{/if}
{include="footer"}