{include="header"}
{if="$myUser!=false"}

<aside id="aside-left">
	<nav id="nav-left">
		<a class="menu-about" href="about.php"></a>
		<a class="menu-home" href="index.php"></a>
		<a class="menu-fav" href="index.php?action=favorites"></a>
		<a class="menu-config" href="settings.php"></a>
		<a class="menu-update" onclick="synchronize('{$synchronisationCode}');"></a>
		<a class="menu-deco" href="action.php?action=logout"></a>
	</nav>
	<nav class="nav-settings">
		<ul>
			<li class="nav-setting" onclick="$('section.pfiou').hide();$('section#gestion').show();">Gestion des flux</li>
			<li class="nav-setting" onclick="$('section.pfiou').hide();$('section#preferences').show();">Préférences</li>
			<li class="nav-setting" onclick="$('section.pfiou').hide();$('section#plugins').show();">Plugins</li>
			<li class="nav-setting" onclick="$('section.pfiou').hide();$('section#import').show();">Import</li>
			<li class="nav-setting" onclick="$('section.pfiou').hide();$('section#export').show();">Export</li>
			<li class="nav-setting" onclick="$('section.pfiou').hide();$('section#bookmarklet').show();">Bookmarklet</li>
			<li class="nav-setting" onclick="if(confirm('Etes vous sûr de vouloir vider tout les évenements?')){window.location='action.php?action=purge';}">Vider les événements</li>
			{function="Plugin::callHook("setting_post_link", array(&$myUser))"}
		</ul>
	</nav>
</aside>

<aside id="aside-right">
	<nav id="nav-right">
		<a class="menu-deco" href="action.php?action=logout"></a>
	</nav>

	<nav class="nav-infos">

		<!-- Gestion des flux -->
		<section class="pfiou" id="gestion">
			<form action="action.php?action=addFeed" method="POST">
				<fieldset>
					<legend>Ajout d'un flux</legend>
					<input type="text" name="newUrl" placeholder="http://monflux.com/rss" />
					<select name="newUrlCategory">
					{loop="$folders"}
					<option {if="$value->getId()==1"}selected="selected"{/if} value="{$value->getId()}">{$value->getName()}</option>
					{/loop}
					</select>
					<button style="font-size:1em;" class="button-connexion">Ajouter</button></p>
				</fieldset>
			</form>

			<form action="action.php?action=addFolder" method="POST">
				<fieldset>
					<legend>Ajouter un dossier</legend>
					<input type="text" name="newFolder" placeholder="Nom du dossier" />
					<button style="font-size:1em;" class="button-connexion">Ajouter</button></p>
				</fieldset>
			</form>

			{$feedsForFolder=""}
			{loop="$folders"}
			{$feedsForFolder=$value->getFeeds()}
			<fieldset>
				<legend><span>{$value->getName()}</span> <button style="font-size:1em;" class="button-connexion" onclick="renameFolder(this,{$value->getId()})">Renommer</button>{if="$value->getId()!='1'"} <button style="font-size:1em;" class="button-connexion" onclick="if(confirm('Etes vous sur de vouloir supprimer ce dossier? Cela supprimera tous les flux qu\'il contient.'))window.location='action.php?action=removeFolder&amp;id={$value->getId()}'">Supprimer</button>{/if}</legend>
				{if="count($feeds)!=0"}
				{loop="$feedsForFolder"}
				<ul>
					<li>
						<button style="font-size:1em; float:right" class="button-connexion" onclick="if(confirm('Etes vous sûr de vouloir supprimer ce flux?')){window.location='action.php?action=removeFeed&id={$value2->getId()}';}">Supprimer</button>
						<button style="font-size:1em; float:right" class="button-connexion" onclick="renameFeed(this,{$value2->getId()})">Renommer</button>
						<select style="font-size:1em; float:right" onchange="changeFeedFolder(this,{$value2->getId()});">
						{loop="$folders"}
						<option {if="$value2->getFolder()==$value3->getId()"}selected="selected"{/if} value="{$value3->getId()}">{$value3->getName()}</option>
						{/loop}
						</select>
						<a href="index.php?action=selectedFeed&feed={$value2->getId();}">{function="Functions::truncate($value2->getName(),40)"}</a>
						<br /><h3>{$value2->getUrl()}</h3>
					</li>
				</ul>
				{/loop}
				{/if}
			</fieldset>
			{/loop}
		</section>

		<!-- Preferences -->
		<section class="pfiou" id="preferences">
			<form method="POST" action="action.php?action=updateConfiguration">
				<fieldset>
					<legend>Général</legend>
					<label for="root">Racine du projet : </label><input type="text" id="root" name="root" value="{$configurationManager->get('root')}" />
					<h3>Laissez bien un "/" en fin de chaine ex : http://monsite.com/leed/</h3>
				</fieldset>

				<fieldset>
					<legend>Utilisateur</legend>
					<label for="login">Identifiant : </label> <input type="text" id="login" name="login" value="{$myUser->getLogin()}" />
					<br /><label for="password">Mot de passe : </label> <input type="password" id="password" name="password" autocomplete="off" value="" />
					<h3>Laissez le champ vide si vous ne souhaitez pas changer le mot de passe</h3>
				</fieldset>

				<fieldset>
					<legend>Synchronisation</legend>
					<input type="radio"  {if="$synchronisationType=='auto'"} checked="checked" {/if} value="auto" id="synchronisationTypeComplete" name="synchronisationType" /> <label for="synchronisationTypeComplete">Automatique (complet)</label>
					<br /><input type="radio" {if=" $synchronisationType=='graduate'"} checked="checked" {/if}  value="graduate" id="synchronisationTypeGraduated" name="synchronisationType" /> <label for="synchronisationTypeGraduated">Automatique (gradué)</label>
					<br /><input type="radio" {if="$synchronisationType=='manual'"} checked="checked" {/if}  value="manual" id="synchronisationTypeManual" name="synchronisationType" /> <label for="synchronisationTypeManual">Manuel (complet)</label>
					<h3>Code de synchronisation : <strong>{$synchronisationCode}</strong></h3>
				</fieldset>

				<fieldset>
					<legend>Autoriser la lecture anonyme</legend>
					<input type="radio" {if="$articleDisplayAnonymous=='1'"} checked="checked" {/if} value="1" id="articleDisplayAnonymousYes" name="articleDisplayAnonymous" /><label for="articleDisplayAnonymousYes">Oui</label>
					<input type="radio" {if="$articleDisplayAnonymous=='0'"} checked="checked" {/if} value="0" id="articleDisplayAnonymousNo" name="articleDisplayAnonymous" /><label for="articleDisplayAnonymousNo">Non</label>
					<h3>Nb: si vous choisissez cette option, les utilisateurs non authentifiés pourront consulter vos flux (sans pouvoir les marquer comme lu/non lu).</h3>
				</fieldset>

				<fieldset>
					<legend><label for="articlePerPages">Nombre d'articles par pages</label></legend>
					<input type="text" value="{$configurationManager->get('articlePerPages')}" id="articlePerPages" name="articlePerPages" size="4" />
				</fieldset>
				<fieldset>
					<legend>Affichage du lien direct de l'article</legend>
					<input type="radio"  {if="$articleDisplayLink=='1'"} checked="checked" {/if}value="1" id="articleDisplayLinkYes" name="articleDisplayLink" /><label for="articleDisplayLinkYes">Oui</label>
					<input type="radio" {if="$articleDisplayLink=='0'"} checked="checked" {/if} value="0" id="articleDisplayLinkNo" name="articleDisplayLink" /><label for="articleDisplayLinkNo">Non</label>
				</fieldset>
				<fieldset>
					<legend>Affichage de la date de l'article</legend>
					<input type="radio" {if="$articleDisplayDate=='1'"} checked="checked" {/if} value="1" id="articleDisplayDateYes" name="articleDisplayDate" /><label for="articleDisplayDateYes">Oui</label>
					<input type="radio" {if="$articleDisplayDate=='0'"} checked="checked" {/if} value="0" id="articleDisplayDateNo" name="articleDisplayDate" /><label for="articleDisplayDateNo">Non</label>
				</fieldset>
				<fieldset>
					<legend>Affichage de l'auteur de l'article</legend>
					<input type="radio" {if="$articleDisplayAuthor=='1'"} checked="checked" {/if} value="1" id="articleDisplayAuthorYes" name="articleDisplayAuthor" /><label for="articleDisplayAuthorYes">Oui</label>
					<input type="radio" {if="$articleDisplayAuthor=='0'"} checked="checked" {/if} value="0" id="articleDisplayAuthorNo" name="articleDisplayAuthor" /><label for="articleDisplayAuthorNo">Non</label>
				</fieldset>
				<fieldset>
					<legend>Affichage du contenu de l'article</legend>
					<input type="radio" onchange="$('.articleView').slideToggle(200);" {if="$articleDisplayContent=='1'"} checked="checked" {/if} value="1" id="articleDisplayContentYes" name="articleDisplayContent" /><label for="articleDisplayContentYes">Oui</label>
					<input type="radio" onchange="$('.articleView').slideToggle(200);" {if="$articleDisplayContent=='0'"} checked="checked" {/if} value="0" id="articleDisplayContentNo" name="articleDisplayContent" /><label for="articleDisplayContentNo">Non</label>
					<div class="articleView"{$articleDisplayContent==0 ? 'style="display: none;"':''}>
						<input type="radio" {if="$articleView=='partial'"} checked="checked" {/if} value="partial" id="articleViewPartial" name="articleView" /><label for="articleViewPartial">Partiel</label>
						<input type="radio" {if="$articleView=='complete'"} checked="checked" {/if} value="complete" id="articleViewComplete" name="articleView" /><label for="articleViewComplete">Complet</label>
					</div>
					<h3>Nb: si vous choissisez un affichage partiel des articles, un click sur ces derniers menera à l'article sur le blog de l'auteur.</h3>
				</fieldset>
				<fieldset>
					<legend>Conserver les <input type="text" value="{$configurationManager->get('feedMaxEvents')}" name="feedMaxEvents" size="4" /> derniers événements d'un flux</legend>
					<h3>Nb: Plus il y aura d'événements à conserver, plus votre base de données sera importante. Nous vous conseillons de garder les 50 derniers événements au maximum pour conserver une performance correcte.<br />Notez que vos événements marqués comme favoris ne seront jamais supprimés.</h3>
				</fieldset>
				<button class="button-connexion" name="installButton">Enregistrer</button>
			</form>
		</section>

		<!-- Plugins -->
		<section class="pfiou" id="plugins">
			<p>Vous pouvez télécharger et installer gratuitement de nouveaux plugins <a target="_blank" href="https://github.com/ldleman/Leed-market/tree/master/Marigolds">sur le Leed Market</a>
			<br />Voiçi la liste des plugins installés :</p>
				{if="count($plugins)>0"}
				{loop="$plugins"}
				<fieldset>
					<legend><a href="action.php?action=changePluginState&plugin={$value->getUid()}&state={$value->getState()}">{$value->getState()=="0"?"Activer":"Désactiver"}</a> : {$value->getName()}</legend>
					<strong>Auteur : </strong><a href="mailto:{$value->getMail()}">{$value->getAuthor()}</a>
					<br /><strong>Licence : </strong>{$value->getLicence()}
					<br /><strong>Version : </strong><code>{$value->getVersion()}</code>
					<br /><strong>Site web : </strong><a target="_blank" href="{$value->getLink()}">{$value->getLink()}</a>
					<br /><strong>Description : </strong>{$value->getDescription()}
				</fieldset>
				{/loop}
				{/if}
		</section>

		<!-- Import -->
		<section class="pfiou" id="import">
			<iframe class="importFrame" src="http://127.0.0.1/leed/action.php?action=importForm" style="width:100%; height:400px; border: 0;"></iframe>
		</section>

		<!-- Export -->
		<section class="pfiou" id="export">
			<form action="action.php?action=exportFeed" method="POST">
				<button class="button-connexion" name="exportButton">Téléchargement du fichier OPML</button>
			</form>
		</section>

		<!-- Bookmarklet -->
		<section class="pfiou" id="bookmarklet">
			<p>Vous pouvez ajouter le bookmarklet à votre navigateur pour vous inscrire plus rapidement au flux en <a href="javascript:document.location='{$configurationManager->get('root')}action.php?action=login&amp;newUrl='+escape(document.location)+'&amp;usr={function="sha1($myUser->getPassword().$myUser->getLogin())"}'">cliquant ici.</a></p>
			<p>Si vous utilisez Chromium/Chrome avec l'extension "Extension Abonnement RSS" vous pouvez lui ajouter l'url :
			<br />{$configurationManager->get('root')}action.php?action=login&amp;newUrl=%s&amp;usr={function="sha1($myUser->getPassword().$myUser->getLogin())"}</p>
		</section>

		{function="Plugin::callHook("setting_post_section", array(&$myUser))"}

	</nav>
</aside>

{else}
<p>Vous devez être connecté.
<br /><a href="{$configurationManager->get('root')}">Retourner sur Leed</a></p>
{/if}
{include="footer"}